body {
  margin: 0;
  background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png") repeat scroll 0 0 #333;
  color: #EEE;
  text-shadow: 0 -1px 0 #111;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

a { 
  text-decoration: none; 
  color: #9AF;
}

a:visited {
  color: #F9A;
}

a:hover {
  color: #ABF;
}

h2 {
  line-height: 40px;
  height: 40px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

h2 .date {
  color: #CCC;
  font-size: 0.8em;
  float: right;
  margin-left: 40px;
  line-height: 40px;
}

.main {
  margin: 30px 300px 30px 30px;
}

.side {
  float: right; 
  margin: 70px 30px;
  width: 240px;
  font-size: 13px;
}

.side ul {
  margin: 10px 0; 
  padding: 0 0 0 16px; 
  list-style-type: none;
}

.content .draft {
  margin: -30px -30px 30px -30px;
  background-color: #111;
  color: #EEE;
  padding: 15px 30px;
}

.content p {
  margin-top: 0px;
}

.content p + p {
  margin-top: 2em;
}

.content a {
  color: #34B;
}

.content a:hover {
  color: #45C;
}

.content a:visited {
  color: #C45;
}

.content {
  background: #EEE;
  color: #111;
  font-size: 16px;
  margin: 30px 0;
  border: 1px solid #111;
  text-shadow: none; 
  box-shadow: 0 0 3px #111;
  padding: 30px;
  line-height: 1.85em;
}

#victor {
  width: 238px;
  height: 314px;
  background: url("/public/pics/victor-240.jpg") center center no-repeat; 
  border: 1px solid #111;
  box-shadow: 0 0 3px #111;
}