body {
  margin: 0;
  background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png") repeat scroll 0 0 #333;
  color: #EEE;
  text-shadow: 0 -1px 0 #111;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  margin-left: 30px;
  margin-right: 30px;
}

h2 .date {
  color: #CCC;
  font-size: 0.8em;
  float: right;
}

.content .draft {
  margin: -30px -30px 30px -30px;
  background-color: #111;
  color: #EEE;
  padding: 15px 30px;
}

.content {
  background: #EEE;
  color: #111;
  font-size: 16px;
  margin: 30px;
  border: 1px solid #111;
  text-shadow: none; 
  box-shadow: 0 0 3px #111;
  padding: 30px;
  line-height: 1.5em;
}